
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: url("../assets/main_menu_background.png");
	background-size: 55%;
	image-rendering: pixelated;
	position: absolute;
	vertical-align: middle;
	font-family: monospace;
	font-size: 16pt;
}

canvas:focus {
	outline: none;
}

input[type="text"] {
	padding: 5px;
	width: 100%;
	font-family: monospace;
	font-size: 16pt;
	display: table-cell;
}

label {
	color: white;
}