
/* #copyright_notice {
	visibility: hidden;
	display: none;
	z-index: 1100;
	position: absolute;
	padding: 8px;
	bottom: 0;
	left: 0;
	margin: 0;
	font-size: 16pt;
} */

#\/download_link {
	visibility: hidden;
	display: none;
}

#\/game_page {
	visibility: hidden;
	display: none;
}

#\/game_page\/dbg_info {
	visibility: visible;
	display: block;
	color: lightgray;
	font-family: monospace;
	font-size: 16pt;
	z-index: 200;
	position: fixed;
	padding: 0.5%;
}

#\/game_page\/dbg_info\/chunk_coords {
	visibility: hidden;
	display: none;
}

#\/game_page\/dbg_info\/fps_counter {
	visibility: hidden;
	display: none;
}

#\/game_page\/dbg_info\/memory_usage {
	visibility: hidden;
	display: none;
}

#\/game_page\/dbg_info\/player_coords {
	visibility: hidden;
	display: none;
}

#\/game_page\/dbg_info\/player_direction {
	visibility: hidden;
	display: none;
}

#\/game_page\/hud\/crosshair {
	image-rendering: pixelated;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#\/game_page\/hud\/game_terminal_group {
	visibility: hidden;
	display: none;
	z-index: 300;
}

#\/game_page\/hud\/healthbar_group {
	visibility: hidden;
	display: none;
}

#\/game_page\/hud\/hotbar {
	position: fixed;
	background-color: rgb(109, 109, 109);
	border: 4px solid rgb(147, 147, 147);
	bottom: 8px;
	padding: 8px;
	display: flex;
	justify-content: space-between;
	column-gap: 12px;
	left: 50%;
	transform: translate(-50%, 0%);
}

#\/game_page\/main_canvas {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 0;
	visibility: visible;
	display: block;
}

#\/game_page\/pause_menu {
	visibility: hidden;
	display: none;
	background-image: linear-gradient(90deg, rgba(50, 50, 50, 0.7) 0%, rgba(50, 50, 50, 0.7) 85%, rgba(50, 50, 50, 0) 100%);
	width: 30%;
	height: 100vh;
	margin: 0;
	padding-left: 0.5%;
	position: fixed;
	z-index: 1000;
}

#\/game_page\/pause_menu\/header {
	font-family: monospace;
	font-size: 32pt;
	color: white;
	margin-left: 2%;
	margin-top: 2%;
	margin-bottom: 0;
}

#\/game_page\/pause_menu\/header_underline {
	height: 3px;
	width: 65%;
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	margin-bottom: 1%;
}

#\/game_page\/pause_menu\/settings_page {
	visibility: hidden;
	display: none;
}

#\/game_page\/pause_menu\/top_level_page\/accomplishments_button {
	visibility: hidden;
	display: none;
}

#\/game_page\/pause_menu\/top_level_page\/debug_options_button {
	visibility: hidden;
	display: none;
}

#\/game_page\/pause_menu\/top_level_page\/statistics_button {
	visibility: hidden;
	display: none;
}

#\/game_settings_page {
	visibility: hidden;
	display: none;
}

#\/loading_screen_page {
	visibility: hidden;
	display: none;
}

#\/new_or_upload_game_page {
	visibility: visible;
	display: block;
}

#\/new_or_upload_game_page\/game_file_input_div {
	visibility: hidden;
	display: none;
}